/* friends.css*/
.friends {
    width:100%;
    min-height: 100vh;
    position: relative;
}

.friends_list_title {
    font-family: 'Marcellus', serif;
}

.profile-picture {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

.profile-picture-modal {
    border-radius: 50%;
    height: 7rem;
    width: 7rem;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}

