body{
    background-image: url('/images/schedule9.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#weekCalendar tbody td:hover:after, .selected:after {
    background: #f1a29b;
}
