.social-home {
    width:100%;
    min-height: 100%;
    position: relative;

}

body {
    font-family: 'Muli', sans-serif; 
    color: #253C5C;
    background-color: #fff;
}

.post-image {
    width: 300px;
}

.btn-post {
    background-color: #F2C84B;
    color: #253C5C;
    font-weight: bold;
}

.btn-post:hover {
    background-color: #E6F2E9;
    color: #253C5C;
    font-weight: bold;
}

.card-header.border-0 {
    background-color: transparent;
}

div.bg-genre {
    background-color: #F2C84B !important;
    color: #253C5C;
    font-weight: bold;
}

div.bg-genre-uncategorized {
    background-color: #dcdcdc !important;
    color: #253C5C;
    font-weight: bold;
}

.text-post{
    color: #253C5C; 
}

.header-padding {
    padding-top: 5px; 
    padding-bottom: 0;    
    padding-left: 10px;    
    padding-right: 10px;
}

.body-padding {
    padding-top: 0;    
    padding-bottom: 10px; 
    padding-left: 10px;    
    padding-right: 10px;
}

.custom-margin {
    margin-top: 3rem;  
    margin-left: 8rem;  
    margin-right: 8rem;  
}

.post_title{
    color: #253C5C;
    font-family: 'Marcellus', sans-serif; 
}

/* bar style */
.bar-short {
    display: block;
    width: 50px;
    height: 0.5px;
    margin: auto;
    background-color:  #253C5C;
    opacity: 0.5;
}

.post-btn {
    font-size:2em;
    float: right;
    align-self: flex-start;
}

.show-post {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.col-4.post {
    overflow-y: scroll;
}

.card-body{
    top: 65px;
}

.modal-title-delete-post {
    font-family: 'Marcellus', serif;
    font-weight: bold;

}
.modal-header-danger {
    background-color: #dc3545;
    color: #ffffff;
}
.modal-body{
    color: #253C5C;
    background-color:#ffffff;
}

.modal-footer{
    background-color:#ffffff;
}

.posts-input .form-check-input {
    margin-right:7px;
}

.posts-input .form-check-label {
    margin-right:15px;
}

.posts-input .btn{
    margin-left:10px;
}

.posts-input .form-check-input{
    width: 15px;
    height: 15px;
    margin-top: 0;
    vertical-align: top;
}

/* search form */
.search-form {
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-radius: 10px;
}

.search-form:hover {
    box-shadow: 0 1px 6px rgb(37 60 92 / 28%);
}

.search-form i {
    width: 15px;
    height: 15px;
    margin-right: 1px;
    margin-left: 10px;
    color:#253C5C;
    opacity: 0.7;
}

.search-form input {
    width: 150px;
    height: 30px;
    padding: 5px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.search-form input::placeholder {
    color: #bbbcbf;
}

.delete-post-img {
    width: 90%;   
    height: auto; 
    display: block;
    margin: 0 auto; 
    object-fit: contain;  
    max-width: 100%; 
}

.like-button, .want-button {
    border: none;
    background: transparent;
    box-shadow: none;
}

.show-socialpost{
    overflow-y: scroll;
}

.card_body-post{
    position: absolute;
    top: 65px;
}

.show-post{
    max-width: 90%;
}

.card_header-post, .card_body-post{
    width: 100%; 
}
