body {
    font-family: 'Marcellus', serif;
    color: #253C5C;
}

.navbar {
    font-family: 'Muli', sans-serif; 
}

.post-image {
    width: 300px;
}

.btn-post {
    background-color: #F2C84B;
    color: #253C5C;
    font-weight: bold;
}

.btn-post:hover {
    background-color: #E6F2E9;
    color: #253C5C;
    font-weight: bold;
}

