body {
    font-family: 'Muli', sans-serif; 
    color: #253C5C;
}

.post-image {
    width: 300px;
}

.btn-post {
    background-color: #F2C84B;
    color: #253C5C;
    font-weight: bold;
}

.btn-post:hover {
    background-color: #E6F2E9;
    color: #253C5C;
    font-weight: bold;
}

.card-header {
    background-color: transparent;
}

div.bg-genre {
    background-color: #F2C84B !important;
    color: #253C5C;
    font-weight: bold;
}

.text-post{
    color: #253C5C; 
}

.header-padding {
    padding-top: 5px; 
    padding-bottom: 0;    
    padding-left: 10px;    
    padding-right: 10px;
}

.body-padding {
    padding-top: 0;    
    padding-bottom: 0; 
    padding-left: 10px;    
    padding-right: 10px;
}
.custom-margin {
    margin-top: 3rem;  
    margin-left: 8rem;  
    margin-right: 8rem;  
}

.post_title{
    color: #253C5C;
    font-family: 'Marcellus', sans-serif; 
}

.bar {
    display: block;
    width: 100px;
    height: 0.5px;
    background-color: rgba(37, 60, 92, 0.5);
    margin: 10px auto;
}

.show-post {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.col-4.post {
    overflow-y: scroll;
}

.card-body{
    position: absolute;
    top: 65px;
}

