/* home */
.background-image {
    background-image: url('/images/bg-mainpage.png');
    background-size: cover;
    height: 600px;
}

.homecard {
    margin-top: 150px;
    background-color: rgba(230,242,233,0.75);
}

.main-text {
    font-family: 'Marcellus', serif;
    color: #253C5C;
}

.main-p1 {
    font-family: 'Marcellus', serif;
    color: #617EA8;
    font-weight: bold;
}

.main-p2 {
    font-family: 'Muli', serif;
    font-weight: bold;
}

.link-date:hover {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5);
    animation: key1 .5s ease infinite alternate;
}

.link-date-icon {
    color: #253C5C;
    text-decoration: none;
}

.link-date-icon:hover {
    color: #F1A29B;
}

.link-place:hover {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.5);
    animation: key1 .5s ease infinite alternate;
}

@keyframes key1{
    0% {transform: perspective(200px)translateZ(0px);}
    100% {transform: perspective(200px)translateZ(30px);}
  }

.link-place-icon {
    color: #253C5C;
    text-decoration: none;
}

.link-place-icon:hover {
    color: #F2C84B;
}

/* footer */
.footer-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.footer-nav-item{
    position: relative;
    margin-right: 40px;
    font-family: 'Muli', serif;
}

.footer-nav-item a:hover{
    animation: zoom .3s;
}

.footer-nav-item::before {
    content: " / ";
    position: absolute;
    left: -20px;
    color: #253C5C;
}

.footer-nav-item:first-child::before {
    content: "";
}

.fa-brands:hover {
    animation: zoom .3s;
}

.copywrite {
    font-family: 'Muli', serif;
}

/* navbar */
.navbar-item {
    font-family: 'Muli', serif;
}

.navbar-item a:hover{
    animation: zoom .3s;
}

@keyframes zoom {
    50% {
        transform: scale(1.2);
    }
}

/* contact */
.contact-form {
    background-color: #E6F2E9;
    border-radius: 30px;
}

.btn-contact {
    background-color: #F2C84B;
    opacity: .8;
    color: #253C5C;
    font-family: 'Marcellus', serif;
}

.btn-contact:hover {
    background-color: #F2C84B;
    opacity: 1.0;
}


