/* Calendar page */
/* public */
.calendar-title {
    color: #253c5c;
    width: 100%;
    height: 160px;
    padding-top: 30px;
    text-shadow:
        1px -1px 9px white,
        -1px 1px 9px white;
}
.calendar-title h2 {
    font-weight: 400;
}
.calendar-title p {
    font-size: 19px;
    line-height: 1.2;
}
.left-navi {
    color: #fff;
    height: 700px;
    width: 25%;
    float: left;
    margin-top: 3%;
}
.main-div{
    border-left:3px dotted #253c5c;
    height: 700px;
    width: 50%;
    float: left;
    margin-top: 3%;
    margin-bottom: 5%;
}
.right-navi {
    border-left:3px dotted #253c5c;
    color: #fff;
    float: left;
    height: 700px;
    width: 25%;
    margin-top: 3%;
}
.main-contents {
    background-color:white;
    border-radius: 15px;
    margin-left: 4%;
    margin-right:1%;
    color: #253c5c;
    float: left;
    width: 92%;
    height: 100%;
    box-shadow:
        10px 10px 20px rgba(18, 47, 61, 0.5),
        -10px 5px 20px rgba(18, 47, 61, 0.5),
        0px 0px 50px rgba(250, 250, 250, 0.6);
}
.plan-body {
    background-color:  rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 100%;
}
.plan-body p{
    font-size: 20px;
    border-bottom: 1px solid #617ea8;
    width: 70%;
    padding-top:10%;
    margin-bottom: 2%;
    margin-left: 4%;
    height: 12%;
    overflow: hidden;
}
.planlist-date {
    font-size: 19px;
    color: #253c5c;
    padding-left: 3%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.list-group {
    height: 450px;
    overflow: scroll;
}
.list-group a {
    display: flex;
    justify-content: start;
    align-content: center;
    text-align:  center;
    margin-bottom: 5%;
    margin-left: 0;
    width: 100%;
}
.time-col {
    font-size: 14px;
    width: 70px;
    line-height: 1.2;
    border-right: 2px solid #617ea8;;
}
.time-col, .name-col, .avatar-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height:45px;
}
.btn-create-plan {
    color: #253c5c;
}

@media print {
    .table {
        border-collapse: collapse !important;
    }
}
.calendar-button {
    position: relative;
}
.calendar-button .pre-button, .calendar-button .next-button {
    cursor: pointer;
    width: 5%;
    height: 1em;
    line-height: 1em;

    position:absolute;
    top: 0;
    font-size: 18px;
}
.calendar-button .pre-button {
    left: 20px;
}
.calendar-button .next-button {
    right: 20px;
}
.monthly-calendar {
    width: 100%;
    padding: 10px 20px 10px 20px;
}
#monthName{
    font-size: 40px;
    margin-bottom: 0;
}
#yearName {
    font-size: 20px;
}
.prev-next-button {
    margin-bottom: 10px;
}
#weekCalendar {
    width: 100%;
    height: 100%;
}
#weekCalendar tr{
    height: 4.5em;
    text-align: center;
    display: flex;
    justify-content: center;
}
#weekCalendar thead th{
    width: 100%;
    padding-top: 5%;
}

#weekCalendar tbody td {
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 02s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#weekCalendar tbody td:after{
    position:absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    content: '';
    width: 44px;
    height: 44px;
    margin: 0%;
    padding: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}
#weekCalendar tbody td:hover, .selected {
    color: #fff;
    border: none;
}

@media (max-width: 767.98px) {
    .public-calendar {
        width: 100%;
    }
}
.btn-detail {
    color:#253c5c;
}

/* private calendar */
#private-div, #private-right-navi {
    border-left:3px dotted white;
}
#private{
    color: white;
    width: 100%;
    height: 160px;
    padding-top: 30px;
    text-shadow:
        1px -1px 9px #253c5c,
        -1px 1px 9px #253c5c;
}

.chat-area {
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 0;
    margin-top: 2rem;
    margin-bottom: 5px;
    padding-top: 1.5rem;
    padding-bottom: 1rem;;
}
.chat-screen {
    margin-left: 12px;
    padding-top: 5px;
    max-height: 390px;
    line-height: 1;
    font-size: 14px;
    color: black;
    overflow: scroll;
}
.chat-screen {
    padding-top: 5px;
    padding-left: 2px;
}
.one-chat {
    padding-left: 2px;
    margin-bottom: 2em;
}




/* weekly monthly hover button */

/*.rocker {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 7em;
    height: 3.7em;
    overflow: hidden;
    border-bottom: 0px solid #a1aba4;
}
.rocker::before {
    content: "";
    position: absolute;
    width: 72px;
    top: 15px;
    left: 6px;
    right: 0;
    bottom: 0;
    background-color:  #a1aba4;
    border-bottom: 0;
    box-shadow: 2;
}
.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
}
.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}
.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #f1a29b;
    color: #fff;
}
.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}
.switch-left::before {
    left: -0.4em;
}
.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}
.hover-check:checked + .switch-left {
    background-color: #617ea8;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}
.hover-check:checked + .switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}
.hover-check:checked + .switch-left + .switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}
.hover-check:checked + .switch-left + .switch-right::before {
    background-color: #ccc;
}
.hover-check:focus + .switch-left {
    color: #333;
}
.hover-check:checked:focus + .switch-left {
    color: #fff;
}
.hover-check:focus + .switch-left + .switch-right {
    color: #fff;
}
.hover-check:checked:focus + .switch-left + .switch-right {
    color: #333;
} */

/* End of calendar page*/


/* detail.blade.php */
.detail-body {
    background-color:  rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 100%;
}
.detail-body p{
    font-size: 20px;
    border-bottom: 1px solid #617ea8;
    width: 70%;
    padding-top: 10%;
    margin-bottom: 2%;
    margin-left:25%;
    height: 12%;
    overflow: hidden;
}
.pre-title, .pre-description {
    font-size: 19px;
    overflow: hidden;
}
.preference {
    border: 4px double #f1a29b;
    color: #253c5c;
    margin-top: 5%;
    padding-right: 3px;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
}
.pre-border {
    margin-top: 7px;
    margin-bottom:10px;
    margin-left: 45%;
    width: 10%;
    border-bottom: 3px dotted #f1a29b;
}
.pre-detail .row {
    margin-left: 2.5rem;
    height: 30px;
    overflow: hidden;
}
.pre-comment {
    font-size: 15px;
    margin-left:1rem;
    line-height: 1.4;
    height: 120px;
    overflow: scroll;
}
.comment-area {
    width: 90%;
    margin-left: 5%;
    padding-left: 0;
    margin-bottom: 5px;
}
.comment-area h5 {
    background-color: #253c5c;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    margin-left: 0;
    padding-left: 5px;
    width: 92px;
}
.comment-screen {
    margin-left: 12px;
    padding-top: 5px;
    height: 80px;
    line-height: 1;
    font-size: 14px;
    color: black;
    overflow: scroll;
}
.comment-screen {
    padding-top: 5px;
    padding-left: 2px;
}
div.comments-area div.col p {
    text-decoration: none;
    border-bottom: none;
    font-size: 0.9em;
}
.comments-body {
    height: 120px; 
    overflow-y: auto; 
}
.user-name {
    color: rgb(100, 99, 99);
    font-size: 12px;
    height: 15px;
    padding-left: 2px;
}
.one-comment {
    padding-left: 2px;
    margin-bottom: 2em;
}
.btn-comment {
    color: white;
    background-color: #253c5c;
}
.btn-join {
    color: #253c5c;
    font-size: 16px;
    font-weight: bold;
    background-color: #f2c84b;
    border-radius: 6px;
    display: inline-block;
    margin-top: 8px;
  }
  .btn-join span {
    display:inline-block;
    transition: 1s;
  }
  .btn-join:hover {
    background-color: #F2C84B;
  }
  .btn-join:hover span {
    color: #253c5c;
    transform: rotateX(360deg);
  }


*{
    font-family: Muli;
}
h1{
    font-family: Marcellus;
}

/* group_list */
#btn-add {
    /* border:1px solid #253c5c; */
    background-color: #E6F2E9;
    color: #253c5c;
    align-content: center;
    width: 50%;
    overflow: hidden;
}
#group-card {
    /* border:none; */
    width: 220px;
}
#group-header {
    border-bottom: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
.group-pic {
    height: 220px;
    width: 220px;
    object-fit: cover;
}
#group-body {
    padding-right: 0%;
    padding-bottom: 0%;
    display: flex;
    float: left;
}
.group-div {
    color: #253c5c;
    margin-top: -2%;
    padding-left: 2rem;
}
.edit-div {
    padding-top: 2%;
}
.btn-group-drop .dropdown-toggle::after {
    display: none;
}
.dropdown-menu .item-edit {
    border-bottom: 1px solid lightgray;
  }

.dropdown-menu .item-delete {
    color: red;
  }


/* add_group modal */
#add-content{
    background-color: #fff;
    width: 650px;
    height: 300px;
    right: 50px;
    top: 100px;
}
.add-header {
    background-color: #f2c84b;
}
#add-body {
    width: 100%;
    padding: 0;
}
#add-body input {
    background-color: white;
    border-bottom:2px solid #253c5c;
    border-right:none;
    border-left:none;
    border-top:none;
    width: 20rem;
}
#add-body input[type="file"] {
    display: none;
    cursor: pointer;
}
.btn-close {
    color: #253c5c;
    font-size: 25px;
}
#form-group-right input {
    border-radius: 0;
}
#form-group-right ::placeholder {
    color: #253c5c;
    font-size: 16px;
}
#form-group-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.btn-create {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background: #617ea8;
    padding: 18px 30px;
    margin-right: 30px;
    margin-top: 20px;
    border: 3px solid #333;
    box-shadow: 2px 5px 0 #253c5c;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
    height: 40px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.btn-create:hover {
    transform: translateY(5px);
    box-shadow: 0 0 0 #253c5c;
  }

/* .btn-create{
    margin-right: 2.5rem;
    background-color: #253c5c;
    color: #e6f2e9;
} */
.profile-pic {
    background-image: url(/images/bg-group.png);
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* border-radius: 50%; */
    /* background-position: center; */
    /* background-blend-mode: multiply; */
    /* vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer; */
}

/* .profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 3.5em;
} */
/* end add_group */


/* group_member */
.member-content {
    background-color: #fff;
    width: 500px;
    height: 300px;
    left:300px;
    top: 100px;
}

.member-header {
    height: 70px;
    border-bottom: 2px solid #253c5c;
}
.member-body {
    padding:15px 25px;
}
.table-box {
    border-left:2px solid #617EA8;
    max-height: 200px;
    width: 80%;
    margin-left: 3rem;
    padding: 10px 0px;
}
.member-table {
    width: 80%;
    margin-left: 60px;
    padding-left: 12px;
    max-height: 180px;
    overflow: scroll;
    /* scrollbar delete */
    /* IE(Internet Explorer)・Microsoft Edge */
    -ms-overflow-style: none;
    /*Firefox*/
    scrollbar-width: none;
}
   /*Google Chrome、Safari*/
.member-table::-webkit-scrollbar{
    display: none;
}
.member-row {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.member-row .col-2,
.member-row .col-8 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.member-row .col-8 {
    font-size: 18px;
}
.member-footer {
    display: flex;
    justify-content: left;
    height: 60px;
    padding: 0;
}
.invite-modal-btn {
    text-align: center;
    width: 100%;
    padding-top: 0;

}
.to-invite {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 20px;
}
.to-invite i {
    color: #253c5c;
    border: 2px solid #253c5c;
    padding: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.to-invite p {
    font-size: 18px;
    color: #253c5c;
    display: inline-flex;
    float: left;
    margin-left: 2%;
    margin-bottom: -5px;
}

/* end of group_member */
/* invite friends */
.invite-content {
    background-color: #fff;
    width: 500px;
    height: 300px;
    left:300px;
    top: 100px;
}
.invite-header {
    height: 70px;
    border-bottom: 2px solid #253c5c;
}
.invite-body {
    padding:15px 25px;
}
.invite-footer {
    display: flex;
    justify-content: right;
    height: 60px;
    padding: 0;
    padding-right: 2.5rem;
}
#friend-search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
#search-friend {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
    background-color: white;
}
#btn-friendSearch {
    border: 1px solid white;
    color:#253c5c;
}
.friend-result {
    width: 75%;
    margin: 0px auto;
    /* border: 1px solid red; */
    background-color: #E6F2E9;
    max-height: 200px;
    overflow: scroll;
    /* scrollbar delete */
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.friend-result::-webkit-scrollbar{
    display: none;
}
.user-result {
    width: 90%;
    border-bottom: white 1px solid;
    margin: 3px auto;
    padding: 5px 10px;
    background: #E6F2E9;
}

  /*Checkboxes styles*/
.user-result input[type="checkbox"] {
    display: none;

}

.user-result input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 120px;
    margin-bottom: 60px;
    color: #253c5c;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.user-result input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

.user-result input[type="checkbox"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #617EA8;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 45px;
    top: 12px;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

.user-result input[type="checkbox"]:checked + label:before {
    border: 1px solid #617EA8;
    width: 10px;
    top: 8px;
    left: 50px;
    border-radius: 0;
    background-color: #E6F2E9;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.username img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 2rem;
}
.invite-footer {
    height: 100px;
}
.invited-friends {
    margin-left: 2.5rem;
    max-height: 110px;
    max-width: 400px;
    overflow-x: scroll;
    white-space: nowrap;
}
.invited-user {
    display: inline-block;
    margin:3px 15px;
}
.invited-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px rgb(159, 159, 159);
}
.invited-user p {
    text-align:center;
    height: 14px;
    font-size: 10px;
    overflow: hidden;
}
.invite-btn {
    text-decoration: none;
    padding-top: 2px;
    color: #253c5c;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    width: 75px;
    height: 37px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #617EA8;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    transition: .3s;
}
.invite-btn::before {
    content: "";
    width: 120%;
    height: 200%;
    position: absolute;
    top: -50%;
    right: 0;
    z-index: -1;
    background: #617EA8;
    border-radius: 0 100% 100% 0;
    transform: translateX(-100%);
    transition: transform ease .3s;
  }
.invite-btn:hover {
    color: #fff;
  }
.invite-btn:hover::before {
    transform: translateX(10%);
  }

/* end of invite friends */


/* group_edit */
.edit-content{
    background-color: #fff;
    width: 500px;
    height: 300px;
    left:300px;
    top: 100px;
}
.edit-header {
    background-color: white;
    color: #253c5c;
    border-bottom:2px solid #253c5c;
    height: 70px;
}
.edit-body input {
    border-bottom:2px solid #253c5c;
    border-right:none;
    border-left:none;
    border-top:none;
    width: 15rem;
}
.edit-body input[type="file"] {
    display: none;
    cursor: pointer;
}
/* test css */
.group-image-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
  }
.group-image-upload .image-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}
.group-image-upload .image-edit input {
    display: none;
}
.group-image-upload .image-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.group-image-upload .image-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.group-image-upload .image-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.group-image-upload .image-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index:3;
}
.imageBackground {
    height:100%;
    width: 100%;
}

/* end of test */

.profile-pic-edit {
    background-size: cover;
    background-color: transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-position: center;
    background-blend-mode: multiply;
    vertical-align: middle;
    text-align: center;
    color: transparent;
    transition: all .3s ease;
    text-decoration: none;
    cursor: pointer;
}
.profile-pic-edit:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}
.profile-pic-edit span {
    display: inline-block;
    padding-top: 3.5em;
}
.edit-footer a {
    border: 1px solid #f2c84b;
    margin-right: 5px;
}
.g-save-btn {
    background-color: #F2C84B;
    padding: 6px 16px;
}
/* end group_edit */


/* group_delete */
.delete-content {
    width: 500px;
    left: 300px;
    top: 100px;
}
.delete-header {
    border-bottom: 2px solid #dc3545;
    color: #dc3545;
    background-color: white;
    height: 70px;
}
.delete-body .row {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}
.delete-body img {
    width: 130px;
    height: 100px;
    object-fit: cover;
}
.delete-footer a {
    color: #dc3545;
    border: 1px solid #dc3545;
    margin-right: 5px;
}
.g-delete-btn {
    background-color: #dc3545;
    color: white;
}
/* end group_delete */


/* create_plan modal */
/* preference modal */

.create-content {
    width: 900px;
    left: 125px;
    text-align: left;
}

.create-body i {
    color: #253c5c;
}

.create-body input,textarea {
    border: 1px solid #253c5c;
    border-radius: 5px;
    width: 90%;
}
#s-time, .s-time,
#e-time, .e-time {
    width: 10rem;
    color: #253c5c;
    padding-left: 0.5rem;

}
#dateToCheck,
#s-time, #e-time,
#restaurant,
#create-description {
    color: #253c5c;
    border: 1px solid #253c5c;
    font-size: 16px;
}
.checkbox-input label{
    color: #253c5c;
}
.label-title {
    height: 30px;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 3px;
    color: #253c5c;
}
#genre {
    border-left: 4px solid #253c5c;
    margin-top: 1rem;
    margin-bottom: 4px;
    margin-left: 1rem;
}
.create-btn {
    color: #E6F2E9;
    font-size: 16px;
    font-weight: bold;
    background-color: #617EA8;
    margin-right: 2rem;
    outline: 2px solid;
    outline-color: #617EA8;
    outline-offset: 0px;
    display: inline-block;
    transition: .3s;
  }
.create-btn:hover {
    animation: light .8s;
  }
  @keyframes light {
    100% {
      outline-color: transparent;
      outline-offset: 12px;
    }
  }

.row .time-row {
    height: 50px;
}
.col-auto {
    line-height: 15px;
    margin: 0;
    padding: 0;
}
#left-form-group{
    padding-left: 4.5rem;
}
#description-form {
    margin-left: 0;
    padding-left: 3rem;
}


/*Left*/
/* .modal.left.fade .modal-dialog {
	left: 100px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog {
	left: 0;
} */

/* end left modal */

